@import '../styles/settings.scss';

.shopping-cart {
  background: $greenDark;
  color: $lightText;
  flex: 1;
  margin-bottom: 20px;
  order: -1;
  padding: 20px;
  text-align: center;

  h2 { margin-bottom: 5px; }

  .cart-size {
    font-size: 14px;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    flex: 0 0 200px;
    margin-bottom: 0;
    order: 0;
  }
}
